/*=== STYLES PUBLICAR MONITORIA ==================================*/
.page-publication {
    padding: 0 0 0 2rem;
    display: flex;
}

.aside-publication-content {
    height: 100vh;
    width: 30vw;
    text-align: center;
    padding-right: 2rem;
}

.aside-publication-content h2 {
    margin-top: 4rem;
    margin-bottom: 1.5rem;
}

.aside-publication-content p {
    line-height: 1.3rem;
}

.aside-publication-content img {
    width: 260px;
    padding-top: 5rem;
}

.form-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background-color: var(--bg-dark-primary);
    width: 100%;
    padding-bottom: 2rem;
}

form {
    width: 70%;
    margin-top: 2rem;
}

form hr {
    margin: 1rem 0 2.5rem 0;
}

input {
    height: 35px;
    border-radius: 5px;
    background-color: var(--bg-form);
    border: 1px solid var(--color-border);
    
    padding-left: 16px;

    color: var(--text-light);

    margin-top: 10px;
    margin-bottom: 10px;
    width: 100%;
}

.input-form {
    display: flex;
    gap: 1rem;
}

.input-content {
    width: 100%;
}

.button-content-exit {
    padding-bottom: 3rem;
}
